@model IEnumerable<GestionDeFlotas.Modelos.Taller>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- Formulario de búsqueda con filtros -->
<form method="get" action="@Url.Action("BuscarTalleresConFiltros")">
    <div class="form-group">
        <label for="searchTerm">Buscar por Usuario:</label>
        <input type="text" id="searchTerm" name="searchTerm" placeholder="Buscar por Nombre del taller" class="form-control" />
    </div>
    <div class="form-group">
        <label for="searchTerm">Buscar por Ciudad:</label>
        <input type="text" id="Ciudad" name="Ciudad" placeholder="Buscar por Ciudad" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadMaximaDeReparacionesSimultaneas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadMaximaDeReparacionesSimultaneas)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
